# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Google Drive NJIT\IS 601Web System Development- Keith Williams\Assignments\WebsiteDockerLinuxandContainerization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
